In [33]:
import sqlalchemy as sa
from sqlalchemy.orm import declarative_base, Session

In [34]:
DB_PATH = 'sqlite:///model2.sqlite3'
Base = declarative_base()
ENGINE = sa.create_engine(DB_PATH)

In [35]:
class Model_Base(Base):
    __tablename__ = 'Students'
    uid = sa.Column(sa.Integer(), nullable=False, unique=True, primary_key=True, autoincrement=True)
    date = sa.Column(sa.String())
    tg_id = sa.Column(sa.Text())
    timezone = sa.Column(sa.String())
    stack = sa.Column(sa.Text())
    occupation = sa.Column(sa.Text())
    role = sa.Column(sa.Text())
    project_role = sa.Column(sa.Text())
    weekload = sa.Column(sa.Text())
    course = sa.Column(sa.Text())
    course_time = sa.Column(sa.Text())
    notes = sa.Column(sa.Text())
    pl = sa.Column(sa.String())
    chat = sa.Column(sa.String())
    exited = sa.Column(sa.Text())
    prediction = sa.Column(sa.Float())

In [36]:
Base.metadata.create_all(ENGINE)

In [37]:
old_cols = [
    'Отметка времени',
    'Профиль телеграмм (в формате @username)',
    'Часовой пояс',
    'Стек технологий',
    'По какой специальности SF хотите заявиться?',
    'Роль',
    'В какой роли видите себя в проекте?',
    'Сколько часов в неделю готовы уделять проекту?',
    'Какие другие курсы закончили или находитесь в процессе обучения?',
    'Как долго учитесь на курсах?',
    'Notes',
    'ЯП',
    'Вступление в чат практики.',
    'Выбыл'
]
new_cols = [
    'date',
    'tg_id',
    'timezone',
    'stack',
    'occupation',
    'role',
    'project_role',
    'weekload',
    'course',
    'course_time',
    'notes',
    'pl',
    'chat',
    'exited'
]

In [38]:
import uuid
import pandas as pd

In [39]:
ini_df = pd.read_csv('data/anketa_ini.csv')

In [40]:
def map_names(old_list: list, new_list: list) -> dict:
    dict_ = dict()
    if len(old_list) == len(new_list):
        for old_name, new_name in zip(old_list, new_list):
            dict_[old_name] = new_name
    return dict_

ini_df.rename(columns=map_names(old_cols, new_cols), inplace=True)
ini_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          320 non-null    object
 1   tg_id         321 non-null    object
 2   timezone      322 non-null    object
 3   stack         321 non-null    object
 4   occupation    322 non-null    object
 5   role          322 non-null    object
 6   project_role  322 non-null    object
 7   weekload      322 non-null    object
 8   course        322 non-null    object
 9   course_time   322 non-null    object
 10  notes         99 non-null     object
 11  pl            205 non-null    object
 12  chat          322 non-null    object
 13  exited        63 non-null     object
dtypes: object(14)
memory usage: 35.3+ KB