In [1]:
import pandas as pd

In [8]:
draft1_df = pd.read_excel('data/anketa_1.xlsx')
draft2_df = pd.read_excel('data/anketa_2.xlsx')

In [9]:
display(draft1_df.info())
display(draft1_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 13 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Отметка времени                                                   320 non-null    datetime64[ns]
 1   Профиль телеграмм (в формате @username)                           321 non-null    object
 2   Часовой пояс                                                      322 non-null    object
 3   Стек технологий                                                   321 non-null    object
 4   По какой специальности SF хотите заявиться?                       322 non-null    object
 5   Роль                                                              322 non-null    object
 6   В какой роли видите себя в проекте?                               322 non-null    object
 7   Сколько часов в неделю готовы уделять проекту?                    322 non-null    object
 8   Какие другие курсы закончили или находитесь в процессе обучения?  322 non-null    object
 9   Как долго учитесь на курсах?                                      322 non-null    object
 10  Notes                                                             99 non-null     object
 11  ЯП                                                                205 non-null    object
 12  Вступление в чат практики.                                        322 non-null    object
dtypes: datetime64[ns](1), object(12)
memory usage: 32.8+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 13 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Отметка времени                                                   320 non-null    datetime64[ns]
 1   Профиль телеграмм (в формате @username)                           321 non-null    object
 2   Часовой пояс                                                      322 non-null    object
 3   Стек технологий                                                   321 non-null    object
 4   По какой специальности SF хотите заявиться?                       322 non-null    object
 5   Роль                                                              322 non-null    object
 6   В какой роли видите себя в проекте?                               322 non-null    object
 7   Сколько часов в неделю готовы уделять проекту?                    322 non-null    object
 8   Какие другие курсы закончили или находитесь в процессе обучения?  322 non-null    object
 9   Как долго учитесь на курсах?                                      322 non-null    object
 10  Notes                                                             99 non-null     object
 11  ЯП                                                                205 non-null    object
 12  Вступление в чат практики.                                        322 non-null    object
dtypes: datetime64[ns](1), object(12)
memory usage: 32.8+ KB

None

In [11]:
display(draft1_df.isna().sum(axis='index'))
display(draft2_df.isna().sum(axis='index'))

Отметка времени                                                       2
Профиль телеграмм (в формате @username)                               1
Часовой пояс                                                          0
Стек технологий                                                       1
По какой специальности SF хотите заявиться?                           0
Роль                                                                  0
В какой роли видите себя в проекте?                                   0
Сколько часов в неделю готовы уделять проекту?                        0
Какие другие курсы закончили или находитесь в процессе обучения?      0
Как долго учитесь на курсах?                                          0
Notes                                                               223
ЯП                                                                  117
Вступление в чат практики.                                            0
dtype: int64

Отметка времени                                                       2
Профиль телеграмм (в формате @username)                               1
Часовой пояс                                                          0
Стек технологий                                                       1
По какой специальности SF хотите заявиться?                           0
Роль                                                                  0
В какой роли видите себя в проекте?                                   0
Сколько часов в неделю готовы уделять проекту?                        0
Какие другие курсы закончили или находитесь в процессе обучения?      0
Как долго учитесь на курсах?                                          0
Notes                                                               223
ЯП                                                                  117
Вступление в чат практики.                                            0
dtype: int64

In [5]:
draft_df['Стек технологий'].nunique()

260

In [6]:
draft_df.to_csv('data/anketa_1.csv')